<% provide :title, "Metrics" %>

<h3>Promethus Metrics Endpoint</h3>
<p><%= link_to "Full URL", "/metrics", target: '_blank' %></p>

<iframe src="/metrics" title="Metrics" width="100%" height="800" allowtransparency="true" style="background: #FFFFFF;">
</iframe>