<% provide :title, "Metrics" %>

<div>
  <p>Promethus Metrics Endpoint.
  <br>
  <small><%= link_to "Full URL", "/metrics" %></small>
  </p>
</div>

<iframe src="/metrics" title="Metrics" width="100%" height="800" allowtransparency="true" style="background: #FFFFFF;">
</iframe>