<% provide :title, 'About' %>

<h2>About ..</h2>

<section>
  <div>
    <p>This is a simpe web application tool to assist in managing licenses inventory and their expiry timelines.</p>
  </div>
</section>