<% provide :title, 'Contact' %>

<section>
  <div>
    <h4>You can reach us out via the following channels:</h4>
    <p>
      <aside>
        <p>
          ✱ <strong>Email: noreply@example.com</strong>
          <br>
          ✱ Address: Baker Street 221, SA
          <br>
          ✱ Phone Number: <small>+966 50 xxxxxx</small>
        </p>
      </aside>
    </p>
  </div>
</section>