<% provide :title, 'Contact' %>

<h2>Reach Us ..</h2>

<section>
  <h5>You can reach us out via the following channels:</h5>
  <aside>
    ✱ <strong>Email:</strong> noreply@example.com<br>
    ✱ <strong>Address:</strong> Baker Street 221, SA<br>
    ✱ <strong>Phone Number:</strong> <small>+966 50 xxxxxx</small><br>
    </p>
  </aside>
</section>
