name: CI (build & test)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@359bebbc29cbe6c87da6bc9ea3bc930432750108
        with:
          ruby-version: '2.7.3'
      - name: Install dependencies
        run: bundle install
      - name: Migrate database
        run: bundle exec rails db:migrate
      - name: Compile assets
        run: bundle exec rails assets:precompile
      - name: Run tests
        run: bundle exec rails test

