
<footer id="footer">
  <p>
    <%= link_to 'License Manager', root_path %> - Assets inventory management tool <br>
    <small>Made with ❤️ by: SRE Team</small> - (<%= Date.today.year %>).
  </p>
</footer>