<footer id="footer" class="container-fluid center">
  <p>
    <%= link_to 'License Manager', root_path %> - Assets inventory management tool <br>
    <small>Made with ❤️ by: SRE Team</small>
  </p>
</footer>